<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hybrid TestNGFramework">
  <test name="TestNg Framework">
    <classes>
      <class name="com.testNg.testcases.RegisterTest"/>
      <class name="com.testNg.testcases.LoginTest"/>
      <class name="com.testNg.testcases.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
